*.pyc
*.py~
/.idea/
/data/
/log/
/venv/
/.run/
.DS_Store
.pre-commit-config.yaml
OmniPlatypus/omniplatypus.egg-info/top_level.txt
OmniPlatypus/omniplatypus.egg-info/SOURCES.txt
OmniPlatypus/build/
omniplatypus/build/
OmniPlatypus/dist/
OmniPlatypusTests/log/
OmniPlatypusTests/tests/integration/log/
omniplatypus/build/
/omniplatypus/build/
/OmniPlatypus/omniplatypus.egg-info
doc/platforms/Perry/DummySampler.md
/OmniPlatypusTests/tests/unit/with_physical_device/log
